.column {
	text-align: center;
	// margin-bottom: 40px;

	p {
		color: $red;
		font-family: $roboto-slab;
		font-size: 35px;
	}

	a {
		color: $purple;
		font-family: $roboto-slab;
		font-size: 35px;

		&:hover {
			color: $red !important;
		}
	}

	hr {
		border-color: $hrcolor;
		border-width: 2px;
		width: 400px;
	}
}

.text-block {
	margin-bottom: 40px;

	p {
		font-weight: $font-weight-200;
		text-align: center;
	}
}