.accordions {
  background: none !important;
  .accordions-head {
    background: $purple !important;
    font-family: $roboto-slab !important;
    border-radius: 10px  !important;
    margin-bottom: 10px !important;
  }
  .accordions-head:hover {
    background: $red !important;
    color: $white !important;
  }
  .accordions-head-title {
    color: $white !important;
    font-size: 20px !important;
  }
  .accordion-icons {
    color: $white !important;
  }
  .accordion-content {
    border-radius: 10px  !important;
    margin-bottom: 20px !important;
  }
}