.btn {
  display: block; 
  border-radius: 30px; 
  font-family: $roboto-slab !important; 
  color: $white !important; 
  max-width: 250px; 
  padding: 15px;
  &.multi {
    background: linear-gradient($red, $purple); 
    color: $white !important; 
    font-size: 20px !important; 
    text-align: center !important; 
    text-transform: uppercase !important;
    &:hover {
      background: linear-gradient($purple, $red); 
      color: $white !important;
    }
  }
  &.white {
    background: $white; border: 1px solid $purple; color: $purple !important;
    &:hover {
      background: $purple; 
      border: 1px solid $white; 
      color: $white !important;
    }
  }
}


.call-to-action {
  background: $red;
  padding: 20px 0;
  p {
    color: $white;
    font-family: $roboto-slab;
    font-size: 40px;
    margin: 0;
    &.link {
      float: right;
      position: relative;
      top: 5px;
      width: 250px;
    }
  }
  &.purple {
    background: $purple;
  }
}