.page-id-23 {
  .bottom-logos {
    background: $white;
  }
}

.bottom-logos {
  background: $grey;
  padding: 25px 0 25px 0;
  ul {
    display: table;
    list-style-type: none;
    margin: 0 auto;
    li {
      display: inline-block;
      position: relative;
      padding: 25px 0;
      width: 240px;
      &:after {
        background: #DDDDDD;
        content: "";
        height: 50px;
        position: absolute;
        right: 25px;
        top: 40%;
        width: 3px;
      }
      img {
        
        max-width: 100%;
      }
      &:nth-child(3), &:nth-child(4){
        &:after {
          background: none;
        }
      }
    }
  }
}

footer#footer {
  background: $red;
  bottom: 0;
  padding: 50px 0;
  position: relative;
  top: -20px;
  width: 100%;
  h3 {
    font-size: 20px;
    color: $white;
    font-family: $roboto-slab;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
  }
  p{
    color: $white;
    font-family: $roboto-slab;
    &.heading {
      text-transform: uppercase;
    }
    a {
      color: $white;
    }
  }
  .secure {
    p {
      text-transform: uppercase;
      font-size: 12px;
    }
    img {
      max-width: 150px !important;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      color: $white;
      font-family: $roboto-slab;
      a {
        color: $white;
        text-transform: uppercase;
      }
    }
  }
  .social {
    ul {
      li {
        display: inline-block;
        position: relative;
        a {
          font-size: 30px;
          padding-right: 15px;
        }
      }
    }
    p {
      margin-top: 20px;
      img {
        margin-top: 10px;
      }
    }
  }
}

.site-sub-footer {
  background: $white;
  bottom: 0;
  padding: 20px 0;
  position: relative;
  top: -20px;
  width: 100%;
  p {
    font-family: $roboto-slab;
    color: $purple;
    font-size: 16px;
  }
  .credits {
    float: right;
    a {
      color: $red;
      &:hover {
        color: $purple !important;
      }
    }
  }
  .copyright {
    span {
      position: relative;
      left: 0;
    }
    a {
      color: $purple;
      text-transform: uppercase;
      padding: 0 10px;
      &:hover {
        color: $red !important;
      }
    }
  }
}