select.form-control:not([size]):not([multiple]) {
  color: #495057 !important;
  height: auto !important;
}

input[type=checkbox], input[type=radio], form p  {
  position: relative;
  z-index: 200;
}

