/* Header */

header#header {
  background: url('../../assets/img/nav-bg.jpg') repeat-x;
  position: relative;
  z-index: 2;
  .top-nav {
    position: absolute;
    right:15px;
    z-index: 3;
    ul {
      list-style-type: none;
      margin:0 0 20px 0;
      padding: 0;
      li {
        display: inline-block;
        margin-left: 5px;
        a {
          background: linear-gradient($red, $purple);
          border-bottom-left-radius: 8px 8px;
          border-bottom-right-radius: 8px 8px;
          color: $white !important;
          font-size: 18px;
          display: block;
          padding: 10px 40px 10px 30px;
          max-width: 290px;
          &:hover {
            background: linear-gradient($purple, $red);
            color: $white !important;
          }
        }
        &.search {
          position: relative;
          z-index: 6;
          &:after {
            content: "\f002";
            color: $white;
            font-family: "Font Awesome 5 Pro";
            position: absolute;
            right: 12px;
            top: 25%;
            width: 20px;
            height: 20px;
            z-index: 6;
          }
        }
        &.basket {
          position: relative;
          z-index: 6;
          &:after {
            content: "\f291";
            color: $white;
            font-family: "Font Awesome 5 Pro";
            position: absolute;
            right: 12px;
            top: 25%;
            width: 20px;
            height: 20px;
            z-index: 6;
          }
        }
        &.account {
          position: relative;
          z-index: 6;
          &:after {
            content: "\f007";
            color: $white;
            font-family: "Font Awesome 5 Pro";
            position: absolute;
            right: 12px;
            top: 25%;
            width: 20px;
            height: 20px;
            z-index: 6;
          }
        }
      }
    }
  }
  nav {
    padding: 0;
    img {
      max-width: unset !important;
    }
    &.bg-dark {
      background: none !important;
    }
    ul {
      margin-top: 45px;
      li {
        a {
          font-family: $roboto-slab;
          color: $black;
          text-transform: uppercase;
          padding: 0 25px;
        }
        &:last-child {
          a {
            padding-right: 0;
          }
        }
      }
    }
    .navbar-collapse {
      justify-content: flex-end;
    }
  }
  .custom-logo-link {
    background: $white;
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    -webkit-box-shadow: -1px 3px 11px -4px rgba(204,204,204,1);
    -moz-box-shadow: -1px 3px 11px -4px rgba(204,204,204,1);
    box-shadow: -1px 3px 11px -4px rgba(204,204,204,1);
    padding: 35px 25px;
  }
  .cta {
    color: $purple;
    font-size: 25px;
    font-family: $roboto-slab;
    position: absolute;
    top: 60px;
    right: 5px;
    a {
      color: $red;
      font-weight: $font-weight-600;
      &:hover {
        color: $purple;
      }
    }
  }
}

#banner, .usp {
  position: relative;
  top: -40px;
  z-index: 0;
}

.usp {
  background: $red;
  padding: 25px 0;
  .col-md-4 {
    padding: 0;
  }
  p {
    font-family: $roboto;
    color: $white;
    font-weight: $font-weight-200;
    line-height: 21px;
    margin: 0;
    &.title {
      font-family: $roboto-slab;
      font-size: 25px;
      font-weight: $font-weight-400;
      margin-bottom: 20px;
    }
  }
  .block {
    position: relative;
    padding-left: 90px;
    padding-right: 20px;
    &:before {
      color: $white;
      font-family: "Font Awesome 5 Pro";
      font-size: 60px;
      font-weight: $font-weight-200;
      right: 0;
      position: absolute;
      top: 25%;
      width: 90px;
      text-align: center;
    }
    &:after {
      content: "";
      background: $white;
      height: 100%;
      width: 2px;
      position: absolute;
      right: 0;
      top: 0;
    }
    &.support {
      &:before {
        content: "\f017";
        left: 0;
      }
    }
    &.simple-price-plans {
      &:before {
        content: "\f154";
        left: 0;
      }
    }
    &.free-delivery {
      &:before {
        content: "\f49a";
        left: 0;
      }
      &:after {
        background: none;
      }
    }
  }
}

