.owl-carousel {padding: 0 100px;}
.owl-carousel .owl-stage-outer, .owl-carousel .owl-stage  {height: 100% !important;}
.owl-carousel .owl-item {display: flex; height: 100% !important; align-items: center;}
.owl-carousel .item {margin: 0 auto; padding: 0 100px;}
.owl-prev, .owl-next, .nextend-arrow-previous, .nextend-arrow-next {background: $lightgrey !important;  display: block; height: 49px; position: absolute; top: 40%; width: 49px;}
.owl-prev, .nextend-arrow-previous{ border-bottom-right-radius: 12px 12px;  border-top-right-radius: 12px 12px; left: 0;}
.owl-next, .nextend-arrow-next  { border-bottom-left-radius: 12px 12px;  border-top-left-radius: 12px 12px; right: 0;}
.owl-prev span, .owl-next span {color: $white !important; font-size: 35px; line-height: 35px;}
.owl-prev:hover, .owl-next:hover {background: $purple !important;}
.nextend-arrow-previous {left: 0 !important;}
.nextend-arrow-next  {right: 0 !important;}
.nextend-arrow-previous img, .nextend-arrow-next img  {position: absolute; top: 12px; left: 22%; width: 50% !important;}
.nextend-arrow-previous:hover, .nextend-arrow-next:hover {background: $purple !important;}

