
/* Content */

main {
  position: relative;
  padding: 0;

  &.no-top {
    top: 0;
  }
}

.intro {
  p {
    text-align: center;
  }
  .btn {
    margin: 30px auto;
  }
}

.plans {
  background: $grey;
  min-height: 600px;
}

.case-studies {
  padding: 15px 0 0 0;
  #posts {
    background: $grey;
  }
  .post {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    p {
      text-align: center;
      &.title {
        font-size: 35px;
      }
    }
    a {
      font-family: $roboto;
      color: $black;
      display: block;
      margin-bottom: 20px;
      text-align: center;

    }
    .btn.multi {
      display: table;
      margin: 0 auto;
      width: 80%;
    }
  }
}

.processes-wrapper {
  background: $purple;
  .title {
    color: $white;
    text-align: center;
    padding-top: 30px;
  }
  .processes {
    display: flex;
    padding: 40px 40px 60px 40px;
    align-items: stretch;
    .step {
      display: flex;
      flex-grow: 1;
      position: relative;
      p {
        text-align: center;
        &.title {
          color: $red;
          font-size: 35px;
        }
        img {
          position: absolute;
          left: 0;
          margin: 0 auto;
          right: 0;
        }
      }
      .inner-step {
        background: $white;
        border-radius: 10px;
        padding: 45px 20px 20px 20px;
        margin: 200px 0 0 0;
      }

    }
    .box {
      display: flex;
      flex-grow: 1;
      margin: 0 50px;
      position: relative;
      &:after {
        background: url('../../assets/img/arrow.png') no-repeat;
        content: '';
        color: $white;
        height: 31px;
        left: 115%;
        position: absolute;
        right: 0;
        top:70%;
        width: 18px;
      }
      &:last-child {
        &:after {
          background: none;
          content: "";
        }
      }
    }
  }
}

#testimonials {
  padding: 0;
}
.testimonials {
  p {
    font-family: $roboto;
    font-weight: $font-weight-200;
    text-align: center;
    &.title {
      color: $red;
      font-family: $roboto-slab;
      font-weight: $font-weight-400;
      font-size: 40px;
    }
    &.author {
      color: $purple;
      font-family: $roboto-slab;
      font-weight: $font-weight-400;
    }
  }
  .inner-item {
    display: table-cell;
    vertical-align: middle;
  }

}

.block-content {
  p {
    text-align: center;
    margin: 20px 0;
  }
  &.full {
    padding: 30px 0;
    .title {
      margin-top: 0;
    }
  }
  &.two-col {
    padding: 30px 0;
    .title {
      margin-top: 0;
    }
    ul {
      padding: 0;
      margin: 20px 0;
      li {
        margin-bottom: 20px;
      }
    }
  }
  &.grey {
    background: $grey;
    padding: 50px 0;
    ul {
      display: flex;
      flex-direction: column;
      padding: 0;
      li {
        margin-bottom: 10px;
        list-style-position: inside;
        text-align: center;
      }
    }
    h4 {
      text-align: center;
    }
  }
  &.purple{
    background: $purple;
    padding: 50px 0;
    p {
      text-align: left;
    }
  }
  &.white {
    float: left;
    background: $white;
    padding: 50px 0;
    width: 100%;
    ul {
      float: left;
      padding: 0;
      margin:0;
      width: 50%;
    }
  }
  &.contact-form {
    padding-top: 0;
    float: left;
    width: 100%;
    .col-lg-12 {
      padding: 0;
    }
    .form-control {
      border-radius: 10px;
      margin-bottom: 15px;
      padding: 20px;
    }
    .submit-button {
      background: linear-gradient($red, $purple);
      border: none;
      border-radius: 10px;
      color: $white !important;
      font-size: 20px !important;
      float: right;
      padding: 15px 50px;
      text-align: center !important;
      text-transform: uppercase !important;
      &:hover {
        background: linear-gradient($purple, $red) !important;
      }
    }


  }
}

#cases {
  padding: 40px 0;
  .posts {
    .inner-text {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    p {
      text-align: center;
      &.title {
        color: $red;
        font-size: 25px;
      }
    }
    a {
      color: $black;
      display: block;
      text-align: center;
      flex: none;
    }
    .text {
      flex-grow: 1;
    }
    .btn {
      display: block;
      margin: 20px auto;
      width: 80%;
      text-transform: none !important;
    }
    img {
      max-width: 100%;
    }
  }
}

.page-content {
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 20px;
      ul  {
        padding: 20px 0;
        li{
          margin: 0 20px;
        }
      }
    }
  }
}

.post-detail {
  .text, .image {
    padding-top: 50px;
  }
  .title {
    margin-bottom: 20px;
  }
}



@media screen and (max-width: 1366px) {
  .processes-wrapper {
    .processes {
        padding: 40px 0;
      .box {
        margin: 0 25px;
        &:after {
          left: 108%;
        }

      }
    }
  }

  .call-to-action p {
    font-size: 35px;
  }

}

@media screen and (max-width: 768px) {
  header#header {
    .navbar-dark .navbar-toggler {
      background: $purple;
      margin: 0 0 20px 0;
      float: right;
    }
    .container {
      padding: 0;
    }
    .custom-logo-link {
      margin: 20px 20px 20px 20px;
    }
    .cta {
      // font-size: 20px;
      position: static;
      padding: 20px 20px;
      text-align: center;
    }
    nav {
      .navbar-collapse {
        background: $red;
      }
      ul {
        margin: 0;
        li {
          width: 100%;
          a {
            color: $white;
            display: block;
            padding: 10px 0;
            text-align: center;
            width: 100%;
            &:hover {
              background: $purple;
              color: $white !important;
            }
          }
        }
      }
    }
  }

  #banner {
    top: 0;
    .n2-ss-slider .n2-ss-layer[data-has-maxwidth="1"][data-pm="normal"] {
      margin: 0 !important;
      h2 {
        padding-top: 20px;
      }
      h2, p {
        text-align: center !important;
      }
      .btn {
        width: 100%;
        max-width: 320px !important;
        display: block;
        margin: 0 auto;
      }
    }
    * {
      max-width: none !important;
      text-align: center !important;
    }
  }

  .usp {
    top: 0;
    .block{
      padding: 100px 25px 50px 25px;
      p {
        text-align: center;
      }
      &:before {
        left: 0 !important;
        right: 0 !important;
        margin: 0 auto;
        top: 0;
      }
      &:after {
        background: none;
      }
    }
  }

  .processes-wrapper {
    .processes {
      flex-flow: column;
      .box {
        margin: 20px 0;
        &:after {
          left: 50%;
          transform: rotate(90deg) translateY(50%);
          top: 100%;
        }
      }
    }
  }

  .call-to-action {
    p {
      text-align: center;
      line-height: 50px;
      padding: 20px 0;
      &.link {
        float: none;
        margin: 0 auto;
      }
    }
  }

  .row {
    &.intro {
      padding: 30px 0;

      img {
        height: auto;
      }
    }
  }

  .case-studies {
    .owl-carousel {
      padding: 0 50px !important;
      .post-image {
        margin: 30px 0;

        img {
          height: auto;
        }
      }
      .post {
        padding: 0 0 50px 0;
      }
    }
  }

  #testimonials {
    height: 500px !important;
    .item {
      padding: 0 20px;
    }
  }

  .bottom-logos ul li {
    text-align: center;
    width: 135px;
    &:after {
      background: none;
    }
  }

  .block-content {
    &.two-col {
      ul {
        padding: 0 20px;
        li {
          text-align: center;
        }
      }
    }
  }


  /*Careers*/
  .block-content.white ul {
    width: 100%;
    li {
      margin: 0 0 20px 0;
      text-align: center;
    }
  }

  /*Contact Page*/
  .column {
    margin: 40px 0 0 0;
    // a {
    //   word-break: break-all;
    // }
    hr {
      width: 100%;
    }
    img {
      display: block;
      margin: 0 auto;
    }
    p {
      text-align: center;
    }

  }

  .block-content.contact-form .submit-button {
    float: none;
    margin: 0 auto;
  }


  /*Content page*/

  .page-content {
    padding: 20px 0;
    p {
      text-align: center !important;
    }
    ul li {
      text-align: center !important;
    }
  }

  footer#footer {
    ul {
      text-align: center;
      li {
        text-align: center;
      }
    }
    p {
      text-align: center;
    }
  }

  .site-sub-footer {
    p {
      text-align: center;
    }
    .copyright {
      span {
        left: 0;
      }
    }
    .credits {
      float: none;
    }
  }

  .bullet-list {
    display: block;
    li {
      display: block;
      margin: 10px 20px;
    }
  }
}


@media screen and (min-width: 769px) and (max-width: 1023px) {
  header#header {
    .cta {
      font-size: 18px;
      right: 0;
    }
    .custom-logo-link {
      padding: 35px 15px;
    }
    nav {
      ul {
        li {
          font-size: 16px;
          a {
            padding: 0 15px;
          }
        }
      }
    }
  }

  .usp {
    top: 0;
    .block{
      padding: 100px 25px 50px 25px;
      p {
        text-align: center;
      }
      &:before {
        left: 0 !important;
        right: 0 !important;
        margin: 0 auto;
        top: 0;
      }
      &:after {
        background: none;
      }
    }
  }

  .processes-wrapper {
    .processes {
      flex-flow: column;
      .box {
        margin: 20px 0;
        &:after {
          left: 50%;
          transform: rotate(90deg) translateY(50%);
          top: 100%;
        }
      }
    }
  }

  .call-to-action {
    p {
      text-align: center;
      line-height: 50px;
      padding: 20px 0;
      &.link {
        float: none;
        margin: 0 auto;
      }
    }
  }

  .bottom-logos ul li {
    text-align: center;
    width: 340px;
    &:after {
      background: none;
    }
  }

  .site-sub-footer {
    p {
      text-align: center;

    }
    .copyright {

      span {
        left: 0;
      }
    }
    .credits {
      float: none;
    }
  }

}


@media screen and (min-width: 200px) and (max-width: 1370px) {
  /*Contact Page*/
  .column {
    margin: 40px 0 0 0;
    a {
      word-break: break-all;
      font-size: 25px !important;
    }
    img {
      display: block;
      margin: 0 auto;
    }
    p {
      text-align: center;
      font-size: 20px;
    }
  }
}