/* Color pallette */

$purple: #8B005A;
$black: #000000;
$darkblack: #333333;
$white: #ffffff;
$red: #CF0E3E;
$grey: #EEEEEE;
$darkgrey: #707070;
$lightgrey: #CCCCCC;
$lightlightgrey: #666666;

$hrcolor: #AAAAAA;

/* Fonts */

$roboto-slab: 'Roboto Slab',
serif;
$roboto: 'Roboto',
serif;

/* Weights */
$font-weight-200: 2001;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;

// @media screen and (min-width: 767px) and (max-width: 1024px) {
//   body {
//     background-color: red;
//   }
//   // .container {
//   //   max-width: 1280px;
//   // }

//   // header#header nav ul li a {
//   //   padding: 0 5px !important;
//   // }
// }