.title { 
  font-family: $roboto-slab; 
  font-size: 40px; 
  line-height: 50px; 
  color: $purple;
  &.red {
    color: $red;
  }
}

h2 {
  &.title {
    text-align: center;
  }
}

.white-text {
  p, 
  ul li, 
  h1, 
  h2 {
    color: $white !important;
  }
} 

img {
  max-width: 100%;
}

html {
  position: relative;
}

body {
  color: $black;
}

a {
  color: $red;
  &:hover {
    text-decoration: none;
    color: $purple  !important; transition: all 0.3s ease-out;
  }
}

p, ul li { 
  font-family: $roboto; 
  font-size: 18px;
}


::-webkit-input-placeholder { /* Chrome */
  color: #495057 !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #495057 !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #495057 !important;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #495057 !important;
  opacity: 1;
}

.container {
  position: relative;
}

.pd-btm-60 {
  padding-bottom: 60px;
}


.bullet-list {
  display: flex;
  justify-content: center;
  padding: 0;
  li {
    display: flex;
    margin: 0 20px;
    flex: 1 1 100%;
    justify-content: center;
    &.first {
      justify-content: flex-end !important;
    }
    a {
      max-width: 400px;
      width: 100%;
    }
  }
}