    .site-main {
    	padding-top: 60px;
    	padding-bottom: 60px;

    	table {

    		th,
    		td {
    			font-family: $roboto-slab !important;
    		}
    	}

    	ul {
    		li {
    			&.product {
    				background: $grey;
    				-webkit-box-shadow: 0px 2px 13px 0px rgba(204, 204, 204, 1);
    				-moz-box-shadow: 0px 2px 13px 0px rgba(204, 204, 204, 1);
    				box-shadow: 0px 2px 13px 0px rgba(204, 204, 204, 1);
    				text-align: center;
    				padding-bottom: 30px !important;

    				a {
    					&.product_type_simple {
    						cursor: not-allowed;
    					}
    				}

    				h2 {
    					font-family: $roboto-slab !important;
    					font-weight: $font-weight-400;
    					color: $red;
    					padding: 40px 40px 20px 40px !important;
    				}

    				p {
    					font-size: 20px;
    					color: $darkblack;
    				}

    				.price {
    					color: $purple !important;
    					font-family: $roboto-slab !important;
    					font-weight: $font-weight-500 !important;
    					font-size: 22px !important;
    					padding: 0 40px 20px 40px;
    				}

    				.woocommerce-product-details__short-description {
    					padding: 0 40px 80px 40px;
    				}

    				img {
    					background: $white;
    				}

    				.button {
    					background: linear-gradient($red, $purple);
    					border-radius: 30px;
    					color: $white !important;
    					display: inline-block;
    					font-family: $roboto-slab !important;
    					font-size: 20px !important;
    					text-align: center !important;
    					text-transform: uppercase !important;
    					max-width: 250px;
    					margin: 0 auto;
    					padding: 15px 30px;
    					position: absolute;
    					left: 0;
    					right: 0;
    					bottom: 5%;

    					&:hover {
    						background: linear-gradient($purple, $red);
    					}
    				}
    			}
    		}

    		&.columns-2,
    		&.columns-3 {
    			display: flex;
    			flex-wrap: wrap;
    			justify-content: center;
    		}

    		&.columns-2 {
    			padding-top: 90px;

    			li {
    				display: flex;
    				flex-direction: column;
    				max-width: 520px;
    				width: 100%;

    				&:nth-child(1),
    				&:nth-child(2) {
    					margin-bottom: 150px !important;
    				}

    				span {
    					&.count {
    						background: linear-gradient($red, $purple);
    						color: $white;
    						font-family: $roboto-slab !important;
    						width: 148px;
    						height: 148px;
    						border-radius: 100px;
    						margin: 0 auto;
    						position: absolute;
    						top: -90px;
    						left: 0;
    						right: 0;
    						font-size: 75px;
    						display: flex;
    						justify-content: center;
    						align-items: center;
    					}
    				}

    				&.product {
    					background: $white;

    					h2 {
    						font-size: 40px !important;
    					}
    				}
    			}
    		}

    		&.columns-3 {

    			li {
    				&.product {
    					h2 {
    						font-size: 28px !important;
    					}
    				}
    			}
    		}
    	}
    }

    .cross-sells {
    	h2 {
    		font-family: $roboto-slab !important;
    		font-weight: $font-weight-400;
    		color: $red;
    	}

    	ul {
    		&.columns-2 {
    			padding-top: 20px;

    			li {

    				&:nth-child(1),
    				&:nth-child(2) {
    					margin-bottom: 50px !important;
    				}

    				&.product {
    					span {
    						&.count {
    							display: none;
    						}
    					}

    					h2 {
    						font-size: 25px !important;
    					}
    				}
    			}
    		}
    	}
    }

    .cart_totals {
    	color: $white;
    	font-family: $roboto-slab !important;

    	label,
    	p {
    		color: $white !important;
    		font-family: $roboto-slab !important;
    	}

    	h2 {
    		font-family: $roboto-slab !important;
    		font-weight: $font-weight-400;
    		color: $white;
    		background: $red;
    		border-top-left-radius: 10px;
    		border-top-right-radius: 10px;
    		padding: 20px;
    		margin-bottom: 0 !important;
    	}

    	table {
    		background: $purple;
    		border-bottom-left-radius: 0 !important;
    		border-bottom-right-radius: 0 !important;
    		border-top-left-radius: 0 !important;
    		border-top-right-radius: 0 !important;
    		margin-bottom: 0 !important;

    	}

    	.wc-proceed-to-checkout {
    		background: $purple;
    		border-bottom-left-radius: 10px !important;
    		border-bottom-right-radius: 10px !important;
    	}
    }


    #add_payment_method .cart-collaterals .cart_totals table small,
    .woocommerce-cart .cart-collaterals .cart_totals table small,
    .woocommerce-checkout .cart-collaterals .cart_totals table small {
    	color: $white;
    }

    #add_payment_method .wc-proceed-to-checkout a.checkout-button,
    .woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
    .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,
    .woocommerce #payment #place_order,
    .woocommerce-page #payment #place_order {
    	background: linear-gradient($red, $purple);
    	box-shadow: 5px 5px #888888;
    	margin: 15px auto;
    	border-radius: 30px;
    	font-family: $roboto-slab !important;
    	color: $white !important;
    	max-width: 350px;
    	padding: 15px;
    	font-size: 20px !important;
    	text-align: center !important;
    	text-transform: uppercase !important;
    	-webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 1);
    	-moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 1);
    	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 1);

    	&:hover {
    		background: linear-gradient($purple, $red);
    		color: $white !important;
    	}
    }

    /* Checkout Steps */

    .woocommerce-input-wrapper,
    .select-2-selection__rendered {
    	display: block;
    	width: 100%;

    	input,
    	select {
    		font-family: $roboto-slab !important;
    		padding: 15px;
    	}
    }

    .wizard>.steps a,
    .wizard>.steps a:active,
    .wizard>.steps a:hover {
    	font-family: $roboto-slab !important;
    	font-size: 20px;
    }

    .wizard>.steps .number {
    	font-size: 50px;
    }

    .wizard>.steps li a:before {
    	border: none;
    }

    .wizard>.steps .number {
    	font-family: $roboto-slab !important;
    	background: $red;
    	border: 2px solid $red;
    	color: #fff;
    	line-height: 73px;
    	width: 80px;
    	min-width: 80px;
    	min-height: 80px;
    	height: 80px;
    	margin-bottom: 10px;
    }

    .wizard>.steps li.current .number,
    .wizard>.steps li.done span.number {
    	background: $purple;
    	border: 2px solid $purple;
    }

    .wizard>.steps li.current a,
    .wizard>.steps li.done a {
    	color: $purple;
    }

    .wizard>.content>.body {
    	border-radius: 6px;
    	background: $grey;
    	padding: 30px;
    	margin: 20px 0;

    	h1,
    	h2,
    	h3,
    	p,
    	table tr th {
    		font-family: $roboto-slab !important;
    	}
			h3 {
				color: $purple;
				padding-top: 20px;
			}
    }

    .wizard>.content {
    	margin: 0;
    }

    .wizard>.content>.body label {
    	font-family: $roboto-slab !important;
    }

    .select2-container {
    	vertical-align: unset;
    }

    .select2-container .select2-selection--single {
    	height: auto;
    	padding: 15px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
    	top: 32%;
    }

    #wizard .checkout_coupon .button,
    #wizard form.login input.button,
    .wizard>.actions a,
    .wizard>.actions a:active,
    .wizard>.actions a:hover {
    	background: linear-gradient($red, $purple);
    	border-radius: 15px;
    	font-family: $roboto-slab !important;
    	color: $white !important;
    	padding: 15px 25px;
    	font-size: 20px !important;
    	text-align: center !important;
    	text-transform: uppercase !important;

    	&:hover {
    		background: linear-gradient($purple, $red);
    		color: $white !important;
    	}
    }

    .woocommerce form .form-row.woocommerce-validated .select2-container,
    .woocommerce form .form-row.woocommerce-validated input.input-text,
    .woocommerce form .form-row.woocommerce-validated select {
    	border-color: $purple;
    }

    .woocommerce-message {
    	border-top-color: $red;
    }

    .woocommerce #payment #place_order,
    .woocommerce-page #payment #place_order {
    	margin: 0 !important;
    }

    #plans {
    	background: $grey;
    	position: relative;

    	&:before {
    		content: '';
    		background: url('../img/logo-bg.png');
    		position: absolute;
    		background-repeat: no-repeat;
    		right: -20%;
    		height: 100px;
    		min-width: 1572px;
    		min-height: 1753px;
    		top: 30%;
    		height: 100%;
    	}
    }


    @media screen and (min-width: 200px) and (max-width: 567px) {

    	&.columns-2 {
    		padding-top: 90px;

    		li {
    			width: 100% !important;
    			&:nth-child(1),
    			&:nth-child(2) {
    					margin-bottom: 0 !important;
    			}
    		}

    	}
    }

		.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
			margin-bottom: 20px;
		}

		.woocommerce table.my_account_orders {
			margin-top: 20px;
		}

		.woocommerce ul.order_details {
			padding: 0;
		}

		.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
		.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
			width: 100%;
			max-width: 100% !important;
			float: none !important;
			padding: 0 !important;
		}

		.page-template-page-checkout {
			p, h2, h3, h4 {
				font-family: $roboto-slab !important;
				color: $red;
				margin-bottom:20px;
			}
			p {
				color: $black;
			}
		}


		/* My Account */

		.woocommerce-account .woocommerce-MyAccount-navigation {
			background: $grey;
			ul {
				padding: 20px;
				li {
					list-style-type: none;
				}
			}
		}